/*body {
	margin: 0px;
	padding: 80px;
	font-size: 16px;
}*/
header {
	margin: 0px;
}
.navbarwhole {
	position: fixed;
}
nav {
	background-color: lightgray;
	border: 1px solid black;
	height: 80px;
	max-width: 1800px;
	/*position: fixed;*/
	margin-bottom: 30px;
}
nav .navbar {
	font-size: 150%;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	
}
nav .navbar.title {
	
	padding-left: 20px;
	float: left;
}
nav .navbar.side {
	float: right;
	line-height: 80px;
}
a {
	vertical-align: middle;
}
a.post {
	padding-left: 20px;
	display: inline-block;

}
a.account {
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
}
/*unvisited link*/
a:link {
	color: purple;
	text-decoration: none;
}
div.search-section {
	margin-top: 20px;
	font-family: "Roboto", sans-serif;
	margin-right: 50px;
	margin-left: 50px;
}
label {
	display: block;
}
input {
	margin-top: 10px;
	margin-right: 10px;
	font-family: "Arial";
	font-size: 20px;
	width: 500px;
	display: inline-block;
}
img.icon {
	border: 1px solid gray;
	vertical-align: middle;
}
/*SOLUTION SEARCH CSS SECTION*/
.search-section .search-label {
  display: block;
  margin-bottom: 8px;
}

/* Note that, for consistency, 
we choose to style the input using its class*/
.search-section .search-field, 
.search-section .search-button {
  display: inline-block;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  
}

.search-section input {
  font-size: 16px; /* Must be set due to specificity weirdness of inputs */
  font-weight: 500;
  width: 400px;
  height: 30px;
  padding: 0 5px 0 8px;
  
}

.search-section .search-button {
  width: 37px;
  height: 30px;
  padding: 2px 6px 3px 6px;
  background-color: white;
  vertical-align: bottom;
}
/*div.searchnav {
	margin-top: 30px;
}*/
.searchnav {
	display: inline-block;
	font-size: 0;
	border: 1px solid gray;
	/*padding: 10px;*/
	border-radius: 3px;
}
.page-display {
	border-right: 1px solid gray;
	border-left: 1px solid gray;
}
.page-button, .page-display {
	display: inline-block;
	font-size: 16px;
	padding: 8px 25px;
}
* {
	box-sizing: border-box;
}
